h1{
    font-family: Arial, sans-serif;
    margin-left: -60px
}
body {
    
    background:rgba(154, 215, 212, 0.911);
    font-family: 'Comic Sans Ms', serif;
    font-size: 23px;  
    text-shadow: 3px 3px 3px #aaa;
    margin-left: 500px
}
.tip {
    max-width: 40%;
    border: 1px solid black;
    border-radius: 5px; 
    padding: 5px 10px;  
    
}

.but{
    margin-left: 140px
}
